In [5]:
import numpy as np
import pandas as pd

In [8]:
from sklearn.datasets import load_boston
boston = load_boston()

In [9]:
data = pd.DataFrame(boston.data)

In [10]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
data.columns = boston.feature_names

In [12]:
data['PRICE'] = boston.target

In [13]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [14]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
dtype: int64

In [15]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [21]:
X = data.iloc[:,:-1]
y = data.PRICE

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2,random_state = 4)

In [23]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [24]:
regressor.fit(X_train,y_train)

LinearRegression()

In [26]:
y_pred = regressor.predict(X_test)

In [27]:
from sklearn.metrics import mean_squared_error
rmse = (np.sqrt(mean_squared_error(y_test,y_pred)))
print(rmse)

5.041784121402052

In [30]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [31]:
import keras
from keras.layers import Dense, Activation, Dropout
from keras.models import Sequential

In [32]:
model = Sequential()

model.add(Dense(128,activation = 'relu',input_dim = 13))
model.add(Dense(64,activation = 'relu'))
model.add(Dense(32,activation = 'relu'))
model.add(Dense(16,activation = 'relu'))
model.add(Dense(1))
model.compile(optimizer='adam',loss = 'mean_squared_error')

In [33]:
model.fit(X_train,y_train,epochs = 100)

Epoch 1/100
13/13 [==============================] - 1s 1ms/step - loss: 529.4357
Epoch 2/100
13/13 [==============================] - 0s 792us/step - loss: 397.6172
Epoch 3/100
13/13 [==============================] - 0s 844us/step - loss: 184.8498
Epoch 4/100
13/13 [==============================] - 0s 780us/step - loss: 66.6692
Epoch 5/100
13/13 [==============================] - 0s 876us/step - loss: 39.7456
Epoch 6/100
13/13 [==============================] - 0s 876us/step - loss: 30.5324
Epoch 7/100
13/13 [==============================] - 0s 781us/step - loss: 25.8026
Epoch 8/100
13/13 [==============================] - 0s 792us/step - loss: 22.3815
Epoch 9/100
13/13 [==============================] - 0s 839us/step - loss: 20.0604
Epoch 10/100
13/13 [==============================] - 0s 785us/step - loss: 18.5659
Epoch 11/100
13/13 [==============================] - 0s 751us/step - loss: 17.1890
Epoch 12/100
13/13 [==============================] - 0s 709us/step - loss: 16.0730
Epoch 13/100
13/13 [==============================] - 0s 839us/step - loss: 15.1569
Epoch 14/100
13/13 [==============================] - 0s 792us/step - loss: 14.2604
Epoch 15/100
13/13 [==============================] - 0s 1ms/step - loss: 13.5692
Epoch 16/100
13/13 [==============================] - 0s 793us/step - loss: 13.0244
Epoch 17/100
13/13 [==============================] - 0s 844us/step - loss: 12.7123
Epoch 18/100
13/13 [==============================] - 0s 709us/step - loss: 12.3240
Epoch 19/100
13/13 [==============================] - 0s 777us/step - loss: 11.8545
Epoch 20/100
13/13 [==============================] - 0s 844us/step - loss: 11.9704
Epoch 21/100
13/13 [==============================] - 0s 793us/step - loss: 11.2963
Epoch 22/100
13/13 [==============================] - 0s 667us/step - loss: 11.0489
Epoch 23/100
13/13 [==============================] - 0s 752us/step - loss: 11.0415
Epoch 24/100
13/13 [==============================] - 0s 851us/step - loss: 10.5952
Epoch 25/100
13/13 [==============================] - 0s 839us/step - loss: 10.7542
Epoch 26/100
13/13 [==============================] - 0s 710us/step - loss: 10.8591
Epoch 27/100
13/13 [==============================] - 0s 793us/step - loss: 9.9166
Epoch 28/100
13/13 [==============================] - 0s 751us/step - loss: 9.7486
Epoch 29/100
13/13 [==============================] - 0s 794us/step - loss: 9.8898
Epoch 30/100
13/13 [==============================] - 0s 793us/step - loss: 9.9924
Epoch 31/100
13/13 [==============================] - 0s 799us/step - loss: 9.2497
Epoch 32/100
13/13 [==============================] - 0s 792us/step - loss: 9.2318
Epoch 33/100
13/13 [==============================] - 0s 710us/step - loss: 9.5182
Epoch 34/100
13/13 [==============================] - 0s 793us/step - loss: 8.6692
Epoch 35/100
13/13 [==============================] - 0s 750us/step - loss: 8.5166
Epoch 36/100
13/13 [==============================] - 0s 669us/step - loss: 8.4535
Epoch 37/100
13/13 [==============================] - 0s 709us/step - loss: 8.4218
Epoch 38/100
13/13 [==============================] - 0s 793us/step - loss: 8.5318
Epoch 39/100
13/13 [==============================] - 0s 793us/step - loss: 8.3847
Epoch 40/100
13/13 [==============================] - 0s 752us/step - loss: 7.7273
Epoch 41/100
13/13 [==============================] - 0s 751us/step - loss: 7.5920
Epoch 42/100
13/13 [==============================] - 0s 793us/step - loss: 7.4542
Epoch 43/100
13/13 [==============================] - 0s 776us/step - loss: 7.4826
Epoch 44/100
13/13 [==============================] - 0s 709us/step - loss: 7.4641
Epoch 45/100
13/13 [==============================] - 0s 793us/step - loss: 7.2090
Epoch 46/100
13/13 [==============================] - 0s 792us/step - loss: 6.9019
Epoch 47/100
13/13 [==============================] - 0s 1ms/step - loss: 6.7778
Epoch 48/100
13/13 [==============================] - 0s 869us/step - loss: 6.7010
Epoch 49/100
13/13 [==============================] - 0s 778us/step - loss: 6.7462
Epoch 50/100
13/13 [==============================] - 0s 793us/step - loss: 6.3352
Epoch 51/100
13/13 [==============================] - 0s 710us/step - loss: 6.5314
Epoch 52/100
13/13 [==============================] - 0s 751us/step - loss: 6.6484
Epoch 53/100
13/13 [==============================] - 0s 793us/step - loss: 6.0948
Epoch 54/100
13/13 [==============================] - 0s 777us/step - loss: 5.8879
Epoch 55/100
13/13 [==============================] - 0s 793us/step - loss: 6.1197
Epoch 56/100
13/13 [==============================] - 0s 857us/step - loss: 5.7472
Epoch 57/100
13/13 [==============================] - 0s 921us/step - loss: 5.5545
Epoch 58/100
13/13 [==============================] - 0s 861us/step - loss: 5.4237
Epoch 59/100
13/13 [==============================] - 0s 837us/step - loss: 5.5802
Epoch 60/100
13/13 [==============================] - 0s 774us/step - loss: 5.3218
Epoch 61/100
13/13 [==============================] - 0s 834us/step - loss: 5.2866
Epoch 62/100
13/13 [==============================] - 0s 768us/step - loss: 5.0059
Epoch 63/100
13/13 [==============================] - 0s 793us/step - loss: 4.9593
Epoch 64/100
13/13 [==============================] - 0s 839us/step - loss: 4.8745
Epoch 65/100
13/13 [==============================] - 0s 905us/step - loss: 4.7225
Epoch 66/100
13/13 [==============================] - 0s 876us/step - loss: 4.6526
Epoch 67/100
13/13 [==============================] - 0s 709us/step - loss: 4.6798
Epoch 68/100
13/13 [==============================] - 0s 793us/step - loss: 4.5591
Epoch 69/100
13/13 [==============================] - 0s 1ms/step - loss: 4.4394
Epoch 70/100
13/13 [==============================] - 0s 1ms/step - loss: 4.4225
Epoch 71/100
13/13 [==============================] - 0s 793us/step - loss: 4.5049
Epoch 72/100
13/13 [==============================] - 0s 751us/step - loss: 4.3361
Epoch 73/100
13/13 [==============================] - 0s 793us/step - loss: 4.4751
Epoch 74/100
13/13 [==============================] - 0s 837us/step - loss: 4.2257
Epoch 75/100
13/13 [==============================] - 0s 788us/step - loss: 4.0254
Epoch 76/100
13/13 [==============================] - 0s 793us/step - loss: 3.9690
Epoch 77/100
13/13 [==============================] - 0s 687us/step - loss: 3.9464
Epoch 78/100
13/13 [==============================] - 0s 751us/step - loss: 3.9263
Epoch 79/100
13/13 [==============================] - 0s 709us/step - loss: 3.7987
Epoch 80/100
13/13 [==============================] - 0s 791us/step - loss: 3.8016
Epoch 81/100
13/13 [==============================] - 0s 753us/step - loss: 3.9794
Epoch 82/100
13/13 [==============================] - 0s 792us/step - loss: 4.1257
Epoch 83/100
13/13 [==============================] - 0s 753us/step - loss: 3.8619
Epoch 84/100
13/13 [==============================] - 0s 781us/step - loss: 3.6452
Epoch 85/100
13/13 [==============================] - 0s 793us/step - loss: 3.6261
Epoch 86/100
13/13 [==============================] - 0s 671us/step - loss: 3.6169
Epoch 87/100
13/13 [==============================] - 0s 667us/step - loss: 3.4530
Epoch 88/100
13/13 [==============================] - 0s 750us/step - loss: 3.6185
Epoch 89/100
13/13 [==============================] - 0s 770us/step - loss: 3.6588
Epoch 90/100
13/13 [==============================] - 0s 840us/step - loss: 3.2781
Epoch 91/100
13/13 [==============================] - 0s 793us/step - loss: 3.5188
Epoch 92/100
13/13 [==============================] - 0s 835us/step - loss: 3.4645
Epoch 93/100
13/13 [==============================] - 0s 750us/step - loss: 3.1678
Epoch 94/100
13/13 [==============================] - 0s 709us/step - loss: 3.1531
Epoch 95/100
13/13 [==============================] - 0s 696us/step - loss: 3.1353
Epoch 96/100
13/13 [==============================] - 0s 876us/step - loss: 3.2714
Epoch 97/100
13/13 [==============================] - 0s 690us/step - loss: 3.0037
Epoch 98/100
13/13 [==============================] - 0s 758us/step - loss: 3.0737
Epoch 99/100
13/13 [==============================] - 0s 685us/step - loss: 3.0579
Epoch 100/100
13/13 [==============================] - 0s 750us/step - loss: 2.9264

In [34]:
y_pred = model.predict(X_test)

4/4 [==============================] - 0s 999us/step

In [35]:
rmse = (np.sqrt(mean_squared_error(y_test,y_pred)))
print(rmse)

3.0432305126356582

In [36]:
np.set_printoptions(suppress = True)
result = model.predict(X_test)

4/4 [==============================] - 0s 1ms/step

In [38]:
df = pd.DataFrame(result,columns = ['output'])
print(df)

        output
0    13.877744
1    22.873457
2    16.909821
3    18.403418
4    42.195309
..         ...
97   45.223545
98   16.273809
99   18.283571
100   7.785280
101  23.570259

[102 rows x 1 columns]